.task-details {
    width: 100%;
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    background-color: var(--color-card-bg);
    box-shadow: var(--shadow-md);
    margin: var(--spacing-xs) auto;
    position: relative;
}

.task-details__title {
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-md);
    color: var(--color-text);
}

.task-details__field {
    margin-bottom: var(--spacing-sm);
    font-size: var(--font-size-md);
    color: var(--color-text);
}

.task-details__label {
    font-weight: bold;
    margin-right: var(--spacing-xs);
    color: var(--color-text-muted);
}